/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Barra superior */
  .top-bar {
    background: #f0e5dd;
    width: 1950px;
    height: 130px;
  }
  
  .logo {
    height: 300px;
    position: absolute;
    top: -65px;
    left: 35px;
    transform: none;

  }
  
  /* Container central */
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .login-card {
    background: #f0e5dd;
    padding: 40px 30px;
    border-radius: 10px;
    width: 350px;
    position: relative;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  /* Ícone do cadeado */
  .icon-container {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .icon {
    background: #c8102e;
    padding: 40px;
    border-radius: 15px;
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: -5px;
    left: -140px;
    transform: none;
  }
  
  /* Inputs */
  .input-group {
    text-align: left;
    margin-bottom: 20px;
    position: relative;
  }
  
  .input-group label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    padding: 8px;
    font-size: 16px;
    background: transparent;
    outline: none;
  }
  
  /* Olho da senha */
  .password-group {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 5px;
    bottom: 8px;
    cursor: pointer;
    color: #333;
  }
  
  /* Dica */
  .hint {
    font-size: 12px;
    color: #333;
    margin: 10px 0 20px 0;
  }
  
  /* Botão */
  .btn {
    background: #c8102e;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: #a30d24;
  }
  
  /* Links extras */
  .links {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }
  
  .links a {
    color: #c8102e;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  